MonsterGame/ClientCRUD/Service References/WebServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDTO" nillable="true" type="tns:ClientDTO" />
  <xs:complexType name="ArrayOfClientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDTO" nillable="true" type="tns:ClientDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDTO" nillable="true" type="tns:ArrayOfClientDTO" />
</xs:schema>