MonsterGame/ClientCRUD/Service References/ServiceReference1/Business.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientCredentials" nillable="true" type="tns:ClientCredentials" />
  <xs:complexType name="ArrayOfClientCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientCredentials" nillable="true" type="tns:ClientCredentials" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientCredentials" nillable="true" type="tns:ArrayOfClientCredentials" />
</xs:schema>